---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.svelte";
import MainLayout from "./MainLayout.astro";
import Header from "$lib/Header.svelte";

type Props = CollectionEntry<"blogs">["data"];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
console.log({ updatedDate });
---

<MainLayout title={title} description={description}>
	<style>
		main {
			width: calc(100% - 2em);
			max-width: 100%;
			margin: 0;
		}
		.hero-image {
			width: 100%;
		}
		.hero-image img {
			display: block;
			margin: 0 auto;
			border-radius: 12px;
			box-shadow: var(--box-shadow);
		}
		.title {
			margin-bottom: 1em;
			padding: 1em 0;
			text-align: center;
			line-height: 1;
		}
		.title h1 {
			margin: 0 0 0.5em 0;
		}
		.date {
			margin-bottom: 0.5em;
			color: rgb(var(--gray));
		}
		.last-updated-on {
			font-style: italic;
		}
	</style>
	<Header client:load />
	<div class="w-full pt-12">
		<article class="mx-auto">
			<div class="hero-image prose mx-auto">
				{heroImage && <img width={1020} height={510} src={heroImage} alt="" />}
			</div>
			<div class="">
				<div class="title prose prose-invert w-full mx-auto">
					<div class="date">
						<FormattedDate date={pubDate} />
						{
							updatedDate && (
								<div class="last-updated-on">
									Last updated on <FormattedDate date={updatedDate} />
								</div>
							)
						}
					</div>
					<h1>{title}</h1>
				</div>
				<div class="bg-gray-950 pb-32 pt-24 w-full">
					<div class="prose prose-invert mx-auto">
						<slot />
					</div>
				</div>
			</div>
		</article>
	</div>
</MainLayout>
